snippet col "Adds a json column" b
{'column_name': '${1:column_name}', 'type':'${2:nom}'},
endsnippet

snippet ecol "Adds a json column" b
{'column_name': '${1:column_name}', 'type':'${2:nom}'}
endsnippet
